html {

}

body {
	background: #FFF;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

form {
	width: 530px;
	margin: 0px auto;
}

fieldset {
	border-radius: 20px;
	border-color: #bdc3c7;
	background: #ecf0f1;
}

legend {
	text-transform: uppercase;
	color: #2c3e50;
	font-family: Verdana;
	font-size: 14px;
	margin-left: 10px;
}

label {
	width: 180px;
	display: inline-block;
	color: #2c3e50;
	font-family: Verdana;
	font-size: 14px;
}

a #link_cad {
	text-decoration: nome;
	float: left;


/*input[type="text"]*/
}

input {
	width: 300px;
	padding: 5px 4px;
	border: 1px solid #CCC;
	color: #2c3e50;
	font-family: Verdana;
	font-size: 14px;
	border-radius: 4px;
}

input:focus {
	border: 1px solid #3498db;
	outline: 1px solid #3498db;
}

input::placeholder {
	color: #95a5a6;
}

div {
	margin: 10px 0;
}

button {
	width: 150px;
	height: 35px;
	margin-right: 5px;
	background: #27ae60;
	border-radius: 4px;
	border: none;
	color: #FFF;
	text-transform: uppercase;
}
nav {
	margin: 0px;padding: 0px;
}
ul li{
	    list-style:none;
	    font-family:arial;
	    display: inline-block;
	    width:249px;
	    text-align: center;
	    padding: 0px;    
}

 ul a{
	       font-family: arial;
	       font-size: 10pt;
	       text-decoration: none;
	       color: #800;
	       background-color: #ff8;
	       width:100%;
	       display: inline-block;
	       padding: 10px; 
}
ul a:hover{background-color: #800;
	                        color: #fff;
}
